body{
  font-family: 'Tajawal', sans-serif;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
.bg-none{
  background-color: transparent;
}
/*.navbar-nav{
  display: ruby;
}*/
.fa-home{
  vertical-align: bottom;
}
.home_btn{
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.main{
  background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url('../images/bg-main.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed!important;
  height: 100vh;
  width: 100%;
}

.main::before{
  content: '';
  background: url('../images/top-corner.png') top left no-repeat;
  width: 50%;
  height: 50%;
  top: 65px;
  left: 0;
  position: fixed;
  background-size: contain;
  opacity: 0.9;
}
@media screen and (max-width: 576px){
  #main_address.main::before{
    background: none;
  }
}


.main::after{
  content: '';
  background: url('../images/bottom-corner.png') bottom right no-repeat;
  width: 35%;
  height: 12vh;
  bottom: 0;
  right: 0;
  position: fixed;
  background-size: contain;
  opacity: 0.9;
}

@media screen and (min-width: 576px){
  .main::after{
      content: '';
      background: url('../images/bottom-corner.png') bottom right no-repeat;
      width: 35%;
      height: 20vh;
      bottom: 0;
      right: 0;
      position: fixed;
      background-size: contain;
      bottom: 0;
      opacity: 0.9;
  }
}

/*#main_home::before{
  content: '';
  background: url('../images/top-corner.png') top left no-repeat;
  width: 50%;
  height: 100%;
  top: 65px;
  left: 0;
  position: fixed;
  background-size: contain;
  opacity: 0.9;
}
@media screen and (min-width: 576px){
  #main_home::after{
      content: '';
      background: url('../images/bottom-corner.png') bottom right no-repeat;
      width: 70%;
      height: 40vh;
      bottom: 0;
      right: 0;
      position: fixed;
      background-size: contain;
      bottom: 0;
      opacity: 0.9;
  }
}
#main_prescription::before{
  content: '';
  background: url('../images/top-corner.png') top left no-repeat;
  width: 50%;
  height: 100%;
  top: 65px;
  left: 0;
  position: fixed;
  background-size: contain;
  opacity: 0.9;
}
@media screen and (min-width: 576px){
  #main_prescription::after{
      content: '';
      background: url('../images/bottom-corner.png') bottom right no-repeat;
      width: 70%;
      height: 40vh;
      bottom: 0;
      right: 0;
      position: fixed;
      background-size: contain;
      bottom: 0;
      opacity: 0.9;
  }
}

#main_status::before{
  content: '';
  background: url('../images/top-corner.png') top left no-repeat;
  width: 50%;
  height: 100%;
  top: 65px;
  left: 0;
  position: fixed;
  background-size: contain;
  opacity: 0.9;
}

@media screen and (min-width: 576px){
  #main_status::after{
      content: '';
      background: url('../images/bottom-corner.png') bottom right no-repeat;
      width: 70%;
      height: 40vh;
      bottom: 0;
      right: 0;
      position: fixed;
      background-size: contain;
      bottom: 0;
      opacity: 0.9;
  }
}
#main_search::before{
  content: '';
  background: url('../images/top-corner.png') top left no-repeat;
  width: 50%;
  height: 100%;
  top: 65px;
  left: 0;
  position: fixed;
  background-size: contain;
  opacity: 0.9;
}

@media screen and (min-width: 576px){
  #main_search::after{
      content: '';
      background: url('../images/bottom-corner.png') bottom right no-repeat;
      width: 70%;
      height: 40vh;
      bottom: 0;
      right: 0;
      position: fixed;
      background-size: contain;
      bottom: 0;
      opacity: 0.9;
  }
}

#main_address::before{
  content: '';
  background: url('../images/top-corner.png') top left no-repeat;
  width: 50%;
  height: 100%;
  top: 65px;
  left: 0;
  position: fixed;
  background-size: contain;
  opacity: 0.9;
}

@media screen and (min-width: 576px){
  #main_address::after{
      content: '';
      background: url('../images/bottom-corner.png') bottom right no-repeat;
      width: 70%;
      height: 40vh;
      bottom: 0;
      right: 0;
      position: fixed;
      background-size: contain;
      bottom: 0;
      opacity: 0.9;
  }
}*/

#main_menu{
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (min-width: 576px){
  #main_menu{
    position: absolute;
    left: 15px;
    right: 15px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
/*
#main_login{
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (min-width: 576px){
  #main_login{
    position: absolute;
    left: 15px;
    right: 15px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}*/
/*#main_login .card .card-body{
  border: 2px solid #3f78b1;
  border-top: none;
}*/

#main_login .nav-tabs{
  border-bottom: none;
}

#main_login .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #fff!important;
    background-color: #3f78b1!important;
    border-bottom: none;
}
#main_login .nav-tabs .nav-link{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: transparent;
    color: #3f78b1;
    border: none;
    border-bottom: 2px solid #3f78b1;
}
#main_login .nav-tabs .nav-item{
  margin-bottom: -2px;
}
#main_login .login_btn .btn, #main_login .signup_btn .btn{
  background-color: #3f78b1;
  border: none;
}


#main_login .parsley-required,.parsley-type {
    list-style: none;
    color: red;
}
#main_login .parsley-errors-list{
  margin-top: 0;
  margin-bottom: 0px;
  margin: 0px;
  padding: 0;
}

#main_login .input-group .iti{
  width: 100%!important;
}



#main_menu .card{
  border-radius: 0px!important;
  border: none;
  vertical-align: middle;
}
#main_menu .card1{
  border-left: 2px solid #3F79B1;
  border-top: 2px solid #3F79B1;
}
#main_menu .card2{
  border-right: 2px solid #3F79B1;
  border-top: 2px solid #3F79B1;
}
#main_menu .card3{
  border-left: 2px solid #3F79B1;
  border-bottom: 2px solid #3F79B1;
}
#main_menu .card4{
  border-right: 2px solid #3F79B1;
  border-bottom: 2px solid #3F79B1;
}
#main_menu .card1 .card-body{
  border-radius: 0px 30px 0px 30px;
}
#main_menu .card2 .card-body{
  border-radius: 30px 0px 30px 0px;
}
#main_menu .card3 .card-body{
  border-radius: 30px 0px 30px 0px;
}
#main_menu .card4 .card-body{
  border-radius: 0px 30px 0px 30px;
}

#main_menu .card-body{
  background-color: #fff;
  border: 2px solid #3F79B1;
}
#main_menu .card-body img{
  padding: 5px;
  background-color: #3F79B1;
  border-radius: 10px;
}

@media screen and (max-width: 350px){
  #prescription_list{
    padding-left: 0px;
    padding-right: 0px;
  }
  .modal .modal-body{
    padding-left: 0px;
    padding-right: 0px;
  }
}

.patient_details thead th{
  border-bottom: none;
}
.patient_details td, .patient_details th{
  padding: 3px 0;
  border-top: none;
}
.patient_details td{
  text-align: left;
}

.medicine_details th, .medicine_details td{
  padding: 3px 0;
}

.modal-header .close{
  outline: none;
}
.modal-footer{
  border-top: none;
}
.search_btn{
  background-color: #3F79B1;
  color: #fff;
}

.pharmacy_details td, .pharmacy_details th{
  padding: 3px 0;
  border-top: none;
  text-align: left;
  vertical-align: middle;
}

.pharmacy_address .address{
  background-color: transparent;
  border: none;
}
.pharmacy_address .address .card-body{
  border-radius: 6px;
}
.pharmacy_address .direction{
  background-color: transparent;
  border: none;
}
.pharmacy_address .direction .card-body{
  height: 400px;
}

.head{
  text-shadow: 0 0 4px #fff;
  /*color: #3F79B1;
  text-shadow: 1px 1px #fff;*/
}

#main_menu .card-body:active{
  transition: box-shadow 0.3s ease-in-out;
  transform: scale(0.95, 0.95);
  box-shadow: 0 3px 0 #3F79B1;
} 
#prescription_list .card-body:active{
  /*box-shadow: 0 0px 8px 0 rgba(63,121,177, 0.8), 0 0px 10px 0 rgba(63,121,177, 0.8);*/
  transition: box-shadow 0.3s ease-in-out;
  transform: scale(0.95, 0.95);
  box-shadow: 0 3px 0 #3F79B1;
  /*box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);*/
  /*bottom: -4px;*/
}




/* ----- Pharmacy Status ----- */

.yellow_box.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before{
  color: #fff;
  border-color: #ffc107;
  background-color: #ffc107;
}
.blue_box.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before{
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;
}
.green_box.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before{
  color: #fff;
  border-color: #28a745;
  background-color: #28a745;
}
.red_box.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before{
  color: #fff;
  border-color: #dc3545;
  background-color: #dc3545;
}


/*#bg_statusvalue{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
}*/

/*.status_value{
  position: absolute;
  bottom: 30px;
  left: 0px;
}

.status_value table tbody td{
  border-top: none;
  padding: 4px 10px;
}

*/

.status_value{
    width: 100%;
    bottom: 20px;
    left: 0%;
    right: 0%;
    position: fixed;
    background-color: #818188;
}
.status_value .custom-control-input:disabled~.custom-control-label{
    color: #fff;
}
@media screen and (min-width: 576px){
  .status_value{
    width: 60%;
    bottom: 20px;
    left: 20%;
    right: 20%;
    position: fixed;
    background-color: #818188;
  }
}
@media screen and (min-width: 768px){
  .status_value{
    width: 40%;
    bottom: 20px;
    left: 30%;
    right: 30%;
    position: fixed;
    background-color: #818188;
  }
}
@media screen and (min-width: 992px){
  .status_value{
    width: 30%;
    bottom: 20px;
    left: 35%;
    right: 35%;
    position: fixed;
    background-color: #818188;
  }
}

